html {
  font-size: 16px;
  font-family: 'Imprima', sans-serif;
}

header{
  padding: 1rem 1.5rem;
  position:fixed;
  z-index: 100;
  width: 100%;
  background-color: white;
  font-family: 'Cantata One', serif;
  transition: background-color 2s linear 200ms, color 700ms linear 700ms;
}

header .content{
  font-size: 2rem;
  flex: 1;
  align-items: center;
}

header:hover{
  background-color: #778877;
  color: white;
}

header img{
  width:32px;
}

.colmar{
  font-weight: bold;
  color: #444444;
  text-transform: uppercase;
}

.academy{
  color:lightgrey;
  text-transform: uppercase;
}

header .content{
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav ul{
  display: flex;
  padding-right: 3rem;
  transition: color 100ms ease-in 200ms;
}

header nav li:hover{
  color: white;
}

li a{
  font-size: 1rem;
  font-weight: bold;
}

a:link a:visited{
  background-color: black;
  color: white;
  padding: .5rem .5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

nav li{
  margin-left: 1rem;
}

.mobile{
  display: none;
}
