html {
  font-size: 16px;
  color: black;
  font-family: 'Imprima', sans-serif;
}
a{
  text-decoration: none;
}
header{
  padding: 1rem 1.5rem;
  position:fixed;
  z-index: 100;
  width: 100%;
  background-color: white;
  font-family: 'Cantata One', serif;
}

header a{
  font-size: 2rem;
  color: black;
  flex: 1;
  align-items: center;
}

header a:hover{
  background-color: black;
  color: white;
}

header img{
  width:32px;
}

.colmar{
  font-weight: bold;
  color:grey;
  text-transform: uppercase;
}

.academy{
  color:lightgrey;
  text-transform: uppercase;
}

header .content{
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav ul{
  display: flex;
  padding-right: 3rem;
}

li a{
  font-size: 1.5rem;
}

nav li{
  padding-left: 1rem;
}
