/*Baseline settings*/
html {
  font-size: 16px;
  font-family: 'Imprima', sans-serif;
}
.mobile{
  display: none;
}
/*
  Header section
*/
header{
  display: flex;
  flex: 1;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 4rem;
  background-color: white;
  font-family: 'Cantata One', serif;
  transition: background-color 500ms ease-in 200ms, color 500ms linear 200ms;
  align-items: center;
}

header:hover{
  background-color: #778877;
  color: white;
}

.logo{
  display: flex;
  font-size: 2rem;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}

header img{
  width:32px;
}

.colmar{ /*for the words colmar in colmar academy*/
  font-weight: bold;
  color: #444444;
  text-transform: uppercase;
}

.academy{ /*for the words academy in colmar academy*/
  color:lightgrey;
  text-transform: uppercase;
  text-align: center;
}

header .content{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  align-items: center;
}

.link{
  display: inline;
  text-align: center;
  vertical-align: middle;
  border-radius: .25rem;
  padding: .1rem .25rem;
  font-size: 1rem;
  font-weight: bold;
  transition: color 100ms ease-in 100ms, background-color 100ms ease-in 100ms;
}

.link:hover{
  color: black;
  background-color: white;
}
/*
  Main Section
*/

main{
  position: relative;
  top: 4rem;
}

/*
  Banner Section
*/
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1.5rem;
  background-color: #cfddcf;
  transition: background-color 500ms ease-in 200ms;
}
.banner:hover {
  background-color: #dfffdf;
}
.banner-box {
  display: flex;
  align-items: center;
}
.banner-image{
  width: 80%;
  padding-right: 1.5rem;
}
.banner-image img{
  width: 100%;
}
.banner-content {
  padding-right: 4em;
}
.banner-header{
  font-family: 'Cantata One', serif;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  padding-bottom: 1rem;
}
.banner-text {
  text-align: center;
  font-size: 1rem;
  padding-bottom: 3rem;
}
.start {
  font-size: 1.5rem;
  text-align: center;
  padding: .5rem;
  border: 1px solid #887777;
  border-radius: 3rem;
  background-color: white;
  transition: color 200ms linear 200ms, background-color 200ms linear 200ms;
}
.start:hover {
  background-color: #887777;
  color: white;
}
